.idea/**/workspace.xml
.idea/**/dataSources.local.xml
.idea/**/libraries
database.*
.idea/deployment.xml
.idea/discord.xml
.idea/**/dictionaries
target/
config.cfg
src/main/java/com/kuborros/FurBotNeo/commands/GameCommands/
src/main/java/com/kuborros/FurBotNeo/utils/game/
.idea/
!/.idea/runConfigurations/
